* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	width: auto;
}
/* navbar musa*/
nav {
	background-color: rgba(1, 1, 1, 0.8);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 2rem;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;
}

.icon-nav a {
	display: inline-block;
	gap: 2rem;
	list-style: none;
	padding: 1rem 2rem;
	margin: 0rem 1rem;
	text-decoration: none;
	color: #fff;
	font-size: 1.3rem;
	font-weight: bold;
}
.icon-nav a:hover {
	transition: ease-in-out 0.4s;
}
.icon-nav a::after {
	content: '';
	display: block;
	padding-bottom: 3px;
	border-bottom: 0.16rem solid white;
	transform: scaleX(0);
	transition: ease-in-out 0.5s;
}
.icon-nav a:hover::after {
	transform: scaleX(1.1);
}

nav .img img {
	width: 70px;
	border-radius: 50%;
	margin: 0.5rem;
	border: white 2px solid;
}
.how {
	height: auto;
	color: blue;
	display: flex;
	flex-direction: row;
	margin: 6rem 2rem 0 2rem;
	justify-content: center;
	text-align: center;
}
.how .text {
	width: 600px;
	height: 300px;
	margin: 3rem;
	text-align: start;
	align-items: center;
	padding-top: 3rem;
	border-radius: 20px;
	background-color: #9a9a9a;
}
.how .text p,
.how .text h1 {
	margin: 1rem;
	color: white;
}
.how .gambar img {
	border-radius: 30px;
	margin: 3rem;
}
/* musa */

/* nizar */
.mainpertama h1 {
	text-align: center;
	margin-top: 3rem;
	letter-spacing: 0.2rem;
}

.mainpertama .satu,
.dua {
	text-align: center;
}

.mainpertama .satu {
	margin-top: 4rem;
	margin-bottom: 0.5rem;
}
.mainkedua {
	background-color: #9a9a9a;
	width: auto;
	height: 100vh;
}
.image1 {
	width: 45rem;
	margin-top: 8rem;
	margin-left: 9rem;
	float: left;
}

.image1 img {
	border-radius: 45px;
}

.image1 .satu {
	height: 25rem;
	width: 20rem;
}

.image1 .dua {
	height: 20rem;
	width: 20rem;
	margin-left: 2rem;
}

.image1 .tiga {
	width: 28rem;
	height: 18rem;
	margin-top: 2rem;
	margin-left: 6rem;
}

.content {
	margin-right: 7rem;
	margin-top: 5rem;
	font-size: 1rem;
	word-spacing: 0.5rem;
	letter-spacing: 0.1rem;
	padding-top: 7rem;
}

.content {
	margin-left: 60rem;
	width: 50rem;
	position: relative;
}

.content .two,
.three,
.four {
	margin-top: 3rem;
	padding-left: 7rem;
}

.content .one,
.one1,
.two1,
.three1,
.four1 {
	padding-left: 7rem;
}

.buttonhal2 {
	margin-top: 2rem;
	margin-left: 5rem;
	width: 150px;
	height: 50px;
	background-color: black;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	padding-top: 0.9rem;
	box-sizing: border-box;
	margin-left: 15rem;
	margin-top: 4rem;
}
.buttonhal2:hover {
	background-color: #fff;
}

.buttonhal2 a {
	font-size: 1.23rem;
	color: white;
	text-decoration: none;
	margin-left: 2rem;
}
.buttonhal2 a:hover {
	color: #010101;
}
/* nizar */

.container {
	height: 100vh;
}
.container h2 {
	font-size: 1.6rem;
}
.container h3 {
	font-size: 1.4rem;
}
.container p {
	font-size: 1.2rem;
}
/* head */
.container .head {
	justify-content: center;
	margin: 2rem 3rem 2rem 3rem;
}
.container .head h2 {
	justify-content: center;
	text-align: center;
	font-weight: bold;
	margin: 1rem;
}
.container .head .text {
	display: flex;
	justify-content: space-around;
	columns: auto 8rem;
}
.container .head .text p {
	height: auto;
	border-radius: 10px;
	background-color: #9a9a9a;
	margin: 1rem 1.5rem 1rem 1.5rem;
	padding: 1.5rem;
	text-align: start;
	color: white;
}
/* body */
.container .body {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	columns: auto 8rem;
	margin: 3 0rem 3rem 0rem;
	background-color: #9a9a9a;
}
.container .body .card {
	width: 500px;
	height: 400px;
	display: flex;
	border-radius: 10px;
	background-image: url(img/project4.jpg);
	background-repeat: no-repeat;
	margin: 2rem 0.5rem 2rem 2rem;
}
.container .body .col {
	width: 800px;
	margin: 2rem 0.5rem 2rem 2rem;
}
.container .body .col h2 {
	font-weight: bold;
	text-align: center;
	margin: 1rem 0 1rem 1rem;
	justify-content: center;
}
.container .body .col .card2 {
	height: auto;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background-color: white;
	margin-top: 1.5rem;
	padding: 0.7rem;
	justify-content: star;
}
/* .footer */
.container .footer {
	display: flex;
	justify-content: center;
	margin: 1rem 3rem 3rem 3rem;
	padding-top: 1rem;
	position: relative;
	left: 20px;
	right: 30px;
}
.container .footer .text2 {
	position: absolute;
	display: flex;
	columns: auto 8rem;
	justify-content: space-around;
	background-color: #9a9a9a;
	border-radius: 10px;
	color: white;
}
.container .footer .text2 .card3 {
	padding: 1rem;
	display: flex;
	flex-direction: column;
}
.container .footer .text2 h2,
.container .footer .text2 p {
	margin: 1rem 0 1rem 0;
}

.container .footer button {
	background-color: black;
	margin: 3rem 3rem 0 3rem;
	height: 3rem;
	width: 7.5rem;
	border-radius: 50px;
}
.container .footer button a {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
}
.container .footer button:hover,
.container .footer button a:hover {
	background-color: white;
	color: black;
}
/* Footer */
footer {
	background-color: #9a9a9a;
	text-align: center;
	padding: 0.9rem 0.3rem;
}
footer .socials {
	padding: 0.6rem 0;
}
footer .socials a {
	color: #fff;
	margin: 1rem;
	text-decoration: none;
}
footer .socials a:hover,
footer .link a:hover {
	color: #010101;
}
footer .link {
	margin-bottom: 1rem;
}
footer .link a {
	color: #fff;
	padding: 0.7rem 1rem;
	text-decoration: none;
	font-size: 1.2rem;
}
footer .credit {
	font-size: 0.9rem;
}
footer .credit a {
	color: #010101;
	font-weight: 700;
}
